@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
body {
    background-image: url('images/veggies.png');
    font-family: 'Roboto', sans-serif;
}
#title {
    font-family: 'Shizuru', cursive;
    font-size: 100px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

input[type=text] {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    margin: auto;
    box-sizing: border-box;
    font-size: 20px;
}
button {
    background-color: #89c18f;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin: auto;
    border: none;
    font-size: 20px;
  }
::placeholder {
    align-self: normal;
}
label {
    margin: auto;
    display: block;
    font-size: 30px;
}
form {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}